<div class="tweet-content"><%= tweet.content %></div>
<div class="tweet-info">
  posted by <a href="<%= user_url(tweet.user.id) %>">@<%= tweet.user.username %></a>
  at <%= nice_date(tweet.created_at, "text") %>
</div>

<% if tweet.mentioned_users.length > 0 %>
  <small class="tweet-info">Mentions:</small>
  <ul class="tweet-mentioned-users">
    <% tweet.mentioned_users.each do |mentioned_user| %>
      <li><a href="<%= user_url(mentioned_user) %>"><%= mentioned_user.username %></a></li>
    <% end %>
  </ul>
<% end %>
