<header class="user-show-header">
  <h1><%= @user.username %></h1>
  
  <%= render 'follows/form', user: @user %>
</header>

<article id="feed">
  <h2>Tweets</h2>
  <ul>
    <% @user.tweets.each do |tweet| %>
      <li class="tweet"><%= render 'tweets/tweet', tweet: tweet %></li>
    <% end %>
  </ul>
</article>

<section class="followers">
  <h2>Followers</h2>
  <ul class="users">
    <% @user.followers.each do |follower| %>
      <li><%= follower.username %></li>
    <% end %>
  </ul>
</section>

<section class="followees">
  <h2>Followees</h2>
  <ul class="users">
    <% @user.followees.each do |followee| %>
      <li><%= followee.username %></li>
    <% end %>
  </ul>
</section>
