<% blank_author ||= false %>
<% blank_sub ||= false %>

<section class="post-oneliner multi-sub">
  <div class="post-oneliner-title">
    <%= link_to  post.title, post %>
  </div>
  <div class="post-oneliner-info">
    <% unless blank_author %>
      <div class="post-oneliner-info-author">
        <span class="post-oneliner-info-label">posted by: </span><%= link_to  post.author.name, user_url(post.author) %>
      </div>
    <% end %>
    <% unless blank_sub %>
      <div class="post-oneliner-info-sub">
        <span class="post-oneliner-info-label">sub: </span><%= link_to  post.sub.name, sub_url(post.sub) %>
      </div>
    <% end %>
    <div class="post-oneliner-info-created">
      <span class="post-oneliner-info-label">posted: </span><%= post.tidy_age %>
    </div>
  </div>
  <% if post.crosspost_parent %>
    <div class="post-oneliner-crosspost post-oneliner-info">
      <div class="post-oneliner-crosspost-parent-sub">
        <span class="post-oneliner-info-label"> <%= link_to  "crossposted", post.crosspost_parent %> from: </span><%= link_to  post.crosspost_parent.sub.name, post.crosspost_parent.sub %>
      </div>
      <div class="post-oneliner-crosspost-original-poster">
        <span class="post-oneliner-info-label">original poster: </span><%= link_to  post.crosspost_parent.author.name, post.crosspost_parent.author %>
      </div>
    </div>
  <% end %>
</section>