<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="main-header">
        <h3 class="site-header-title"><%= link_to  "RedditOnRails", root_url %></h2>
        <section class="session-div">
          <% if current_user %>
            <%= render  "layouts/session_info" %>
          <% else %>
            <%= render  "layouts/header_log_in" %>
          <% end %>
        </section>
      </div>
      <div class="flash-banner-div">
        <%= render  "layouts/flash_banner" %>
      </div>
    </header>
    <div class="main-body-container">
      <section class="wide-page-title"><%= yield :wide_title %></section>
      <main>
        <%= yield %>
      </main>
      <aside class="sidebar">
        <%= yield :sidebar %>
      </aside>
    </div>
    <footer>
      <%= yield :footer %>
    </footer>
  </body>
</html>
