<h2><%= @user.name %>'s page</h2>

<h3>Posts</h3>

<section class="posts-list">
  <% @user.posts_and_comments.each do |item| %>
    <% if item.class.name == "Post" %>
      <%= render  "layouts/multi_sub_post_oneliner", post: item, blank_author: true %>
    <% elsif item.class.name == "Comment" %>
      <div class="comment-oneliner"><%= render  "comments/comment_display", comment: item, blank_children: true %></div>
    <% end %>
  <% end %>
</section>

<%= link_to  "Back to Users", users_url %>

<% content_for :sidebar do %>
  <%= render  "user_sidebar", user: @user %>
<% end %>