<div class="page-title-row">
  <div class="page-title-desc">
    <h2><%= @sub.name %></h2>
    <p class="page-description"><%= @sub.description %></p>
  </div>
  <%= link_to  "New Post", new_sub_post_url(@sub), class: "button" %>
</div>

<section class="posts-list">
  <% @sub.posts.includes(:sub, :author).each do |post| %>
    <%= render  "layouts/multi_sub_post_oneliner", post: post, blank_sub: true %>
  <% end %>
</section>

<% content_for :sidebar do %>
  <%= render  "layouts/sidebar", parent_sub: @sub %>
<% end %>