<!DOCTYPE html>
<html>
  <head>
    <title>Todos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href=<%=asset_url("apple-touch-icon.png") %>>
    <link rel="icon" type="image/png" sizes="32x32" href=<%=asset_url("favicon-32x32.png")%>>
    <link rel="icon" type="image/png" sizes="16x16" href=<%=asset_url("favicon-16x16.png") %>>
    <link rel="mask-icon" href=<%=asset_url("safari-pinned-tab.svg")%> color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script
      src="https://kit.fontawesome.com/37d96b3f36.js"
      crossorigin="anonymous"
    ></script>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'todo_redux' %>
  </head>

  <body>
    <header class="site-header">
      <h1><%= link_to  "Todos", root_path %></h1>
      <span class="site-byline">
        <span>A work in progress by <a href="http://nashsibanda.com" target="_BLANK" class="portfolio-site-link">&lt;Nash Sibanda&gt;</a></span>
        <% if current_user %>
          <form action="<%= session_url %>" method="post" class="log-out-form">
            <%= auth_token %>
            <span>Welcome back, <strong class="header-username"><%= current_user.username %></strong></span>
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="form-button">Log Out</button>
          </form>
        <% else %>
          <span>
            <%= link_to  "Log In", new_session_url, class: "form-button" %>
            <%= link_to  "Sign Up", new_user_url, class: "form-button" %>
          </span>
        <% end %>
      </span
      >
    </header>
    <main><%= yield %></main>
  </body>
</html>
