<h2><%= @track.title %></h2>
<%= render  "layouts/notice" %>

<table class="track_show_table track_info">
  <tr class="track_show_row">
    <td>Artist:</td>
    <td> <%= link_to @track.band.name, band_url(@track.band) %></td>
  </tr>
  <tr class="track_show_row">
    <td>Album:</td>
    <td> <%= link_to @track.album.title, album_url(@track.album) %></td>
  </tr>
  <tr class="track_show_row">
    <td>Track No.:</td>
    <td><%= @track.ord %><%= @track.bonus ? " - Bonus Track" : "" %></td>
  </tr>
  <tr class="track_show_row">
    <td>Lyrics:</td>
    <td class="track_lyrics_display"><%= @track.lyrics.empty? ? "Not Available" : simple_format(@track.lyrics) %></td>
  </tr>
</table>

<% content_for :aside do %>
  <%= render  "notes/note_form", track: @track %>
  <% @track.notes.order(created_at: :desc).each do |note| %>
    <%= render  "notes/note_display", note: note %>
  <% end %>
<% end %>