<table class="album_info_table">
  <tr class="album_info_row album_info_header_row">
    <th>Title</th>
    <th><%= album.title %></th>
  </tr>
  <tr class="album_info_row">
    <td>Artist</td>
    <td><%= album.band.name %></td>
  </tr>
  <tr class="album_info_row">
    <td>Year</td>
    <td><%= album.year %></td>
  </tr>
  <tr class="album_info_row">
    <td>Live / Studio</td>
    <td><%= album.live ? "Live" : "Studio" %></td>
  </tr>
  <tr class="album_info_row edit_button_row">
    <td><%= link_to  "[edit]", edit_album_url(album) %></td>
    <td>
      <form action="<%=album_url(album)%>" method="POST">
        <%= auth_token %>
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Album">
      </form>
    </td>
  </tr>
</table>