<% post_vote = @post.votes.select { |vote| vote.voter == current_user }.first %>

<p id="notice"><%= notice %></p>

<article class="post-display block">
  <section class="post-display-title">
    <h2> <%= render  "layouts/vote_arrows", parent: @post, vote: post_vote %> <%= @post.url? ? "<a href=\"#{@post.url}\" target=\"_blank\">#{@post.title}</a>".html_safe : @post.title %></h2>
    <div class="post-display-title-links">
      Back to <%= link_to "r/#{@post.sub.name}", sub_url(@post.sub) %>
      <% if @post.author == current_user %>
        | <%= link_to 'Edit', edit_post_path(@post), class: "button" %>
      <% end %>
    </div>
  </section>
  <% if @post.crosspost_parent %>
    <section class="post-display-title-crosspost">
      <%= link_to  "crossposted from r/#{@post.crosspost_parent.sub.name}", @post.crosspost_parent %>
    </section>
  <% end %>
  <section class="post-display-content">
    <%= simple_format(@post.content) %>
  </section>
  <section class="post-display-info">
    <span>posted by <%= link_to  @post.author.name, @post.author %> <%= @post.tidy_age %> ago</span>
  </section>
  <section class="post-display-crosspost-form">
    <form action=<%= post_crossposts_url(@post.id) %> method="post">
      <%= auth_token %>
      <select name="crosspost[sub_id]" id="crosspost-sub-select" class="custom-select">
        <% Sub.all.order(name: :asc).each do |sub| %>
          <option value="<%= sub.id %>"><%= sub.name %></option>
        <% end %>
      </select>
      <input type="submit" value="Crosspost" class="button">
    </form>
  </section>
</article>

<section class="comment-display block">
  <section class="comment-form-block">
    <% if current_user %>
      <%= render  "comments_form", comment: Comment.new, post: @post %>
    <% else %>
      <%= render  "layouts/please_log_in", action: "comment" %>
    <% end %>
  </section>
  <section class="comments-display-list">
    <% comment_hash = @post.comments_by_parent_id %>
    <% comment_hash[nil].each do |comment| %>
      <div class="post-parent-comment">
        <%= render  "comments/comment_display", comment: comment, comment_hash: comment_hash %>
      </div>
    <% end %>
  </section>
</section>



<% content_for :sidebar do %>
  <%= render  "layouts/sidebar", parent_sub: @post.sub %>
<% end %>