<!DOCTYPE html>
<html>
  <head>
    <title>GoalsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h3><%= link_to  "GoalsApp", root_url %></h3>
      <div class="session-controls">
        <div class="session-controls-message">
          <% if current_user %>
          <p>Welcome <%= current_user.email %> </p>
          <form class="session-log-out" action="<%= session_url %>" method="post">
            <%= auth_token %>
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Log Out">
          </form>
          <% else %>
            <p>Please <%= link_to  "log in", new_session_url %> or <%= link_to  "sign up", new_user_url %>. </p>
          <% end %>
        </div>
      </div>
      <%= render  "layouts/notice" %>
    </header>
    <main>
      <%= yield %>
    </main>
    <aside>
      <%= yield :sidebar %>
    </aside>
    <footer>
      <%= yield :footer %>
    </footer>
  </body>
</html>
