<!DOCTYPE html>
<html>

<head>
  <title>BenchBnB</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'bench_bnb' %>
</head>

<body>
  <%= link_to "home", root_url %>
  <% if current_user %>
  <h2>Hello <%= current_user.username %>!</h2>
  <% end %>
  <%= yield %>
</body>

</html>