<h2><%= @band.name %></h2>
<%= render  "layouts/notice" %>
<br>
<div class="delete_band_form">
  <form action="<%=band_url%>" method="POST">
    <%= auth_token %>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Band">
  </form>
</div><br>
<%= link_to  "Add an Album", new_band_album_url(@band) %><br>
<%= link_to  "Back to Bands", bands_url %>
<br><br>
<div class="band_albums">
  <h3>Albums</h3><br>
  <% @band.albums.order(year: :asc).each do |album| %>
    <%= render  "albums/album_info", album: album %>
    <%= link_to  "See Album Info", album_url(album) %><br><br>
  <% end %>
</div>